<h2>User info</h2>

<%= form_with model:@user,local:true do |f| %>

<div>
  <label for="inputName">Name</label>
  <%= f.text_field:name,autofocus:true,id:"inputName" %>
</div>

<div>
  <label for="inputImage">Image</label>
  <%= f.attachment_field :profile_image,placeholder:"ファイルを選択" %>
</div>

<div>
  <label for="inputInt">Introduction</label>
  <%= f.text_field:introduction,autofocus:true,id:"inputInt" %>
</div>

<%= f.submit "Update User" %>
<% end %>