<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-lg-5 mx-auto">

      <h2>User info</h2>
      <span class="text-danger"><%= render "users/error_message" %></span>
        <%= form_with model: @user do |f| %>
          <div class="form-group py-2">
            <label for="inputName">Name</label>
            <%= f.text_field:name,autofocus:true,id:"inputName", class:"form-control"%>
          </div>

          <div>
            <label for="inputImage">Image</label>
            <% if @user.profile_image.present? %>
              <%= image_tag @user.profile_image %>
            <% else %>
              <p>NO IMAGE</p>
            <% end %>
            <%= f.file_field :profile_image, placeholder: "ファイル選択", accept: "image/*" %>
          </div>

          <div class="form-group py-3">
            <label for="inputInt">Introduction</label>
            <%= f.text_field:introduction,autofocus:true,id:"inputInt", class:"form-control" %>
          </div>

           <%= f.submit "Update User", class:"text-light btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>