<%= render "books/error_message" %>
<%= render 'users/userinfo',user:@user %>
<%= render 'books/books',book:@book %>

<hi>Books</hi>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(book.user.id) do %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
